.App {
  text-align: center;
}

.main-div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.input-mirror-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input-mirror-component > input {
  text-align: center;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  color: #282c34;
  border-radius: 15px;
}


